<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ✅ РАЗРЕШЕНИЕ НА ЗАПУСК СЕРВИСА В ФОНЕ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" /> <!-- Для новых версий Android -->

    <!-- ✅ РАЗРЕШЕНИЕ НА WAKE LOCK -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Разрешение на показ уведомлений о загрузке -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    
    <!-- ✅ РАЗРЕШЕНИЕ НА ОТКЛЮЧЕНИЕ ОПТИМИЗАЦИИ БАТАРЕИ -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:label="Pixelka Offline"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"> 
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <provider
            android:name="vn.hunghd.flutterdownloader.DownloadedFileProvider"
            android:authorities="${applicationId}.flutter_downloader.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!-- ✅ ОПИСАНИЕ СЕРВИСА ДЛЯ СКАЧИВАНИЯ -->
        <service
            android:name="vn.hunghd.flutterdownloader.DownloadService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" /> 
        
        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />
        <uses-native-library
            android:name="libOpenCL-car.so"
            android:required="false" />
        <uses-native-library
            android:name="libOpenCL-pixel.so"
            android:required="false" />
            
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>